:root {
    /* Colours */
    --text: #0e373e;
    --background: #feffeb;
    --colour1: #d5edab;
    --colour2: #66cc86;
    --colour3: #1f5151;
    --shadow: #1f515141;

    /* Background */
    background-image: url(./images/bg.webp);
    background-color: var(--background);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

* {
    margin: 0;
    padding: 0;
}

/* Font */
html {
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    color: var(--text);
    display: grid;
    grid-template-columns: auto 1fr;
}

/* Section padding */
main {
    padding: min(30px, 7%);
}

/* Paragraph margins */
main p {
    color: var(--colour3);
    margin-top: 5px;
    margin-bottom: 15px;
}

/* Standard container */
.container {
    border: 2px solid var(--colour3);
    box-shadow: 0 0 10px 5px var(--shadow);
    border-radius: 1em;
    background-color: var(--background);
    margin-bottom: 20px;
    padding: min(3em, 15%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ===== SIDEBAR ===== */
/* Sidebar container */
#sidebar {
    box-sizing: border-box;
    box-shadow: 0 0 30px 5px var(--colour1);
    height: 100vh;
    width: 250px;
    padding: 5px 1em;
    background-color: var(--background);
    border-right: 2px solid var(--colour3);

    /* Keeps bar in place */
    position: sticky;
    top: 0;
    align-self: start;
    overflow: hidden;
    text-wrap: nowrap;
    padding-bottom: 80px; /* reserve space for anchored credit */
}
/* Closed padding */
#sidebar.close {
    padding: 5px;
    width: 60px;
}
/* Removes sidebar bullet-points */
#sidebar ul {
    list-style: none;
}
/* Sidebar logo formatting */
#sidebar > ul > li:first-child {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    .logo {
        font-weight: 600;
    }
}
/* Highlight current page in sidebar */
#sidebar ul li.active a {
    color: var(--colour2);
    svg {
        fill: var(--colour2)
    }
}
#sidebar ul li div.active a {
    color: var(--colour2);
    svg {
        fill: var(--colour2)
    }
}
/* Credit Text */
#sidebar ul li span.credit {
    display: block;
    position: absolute;
    bottom: 12px;
    left: 1em;
    right: 1em;
    text-align: center;
    color: var(--colour3);
}
/* Hide credit when closed */
#sidebar.close ul li span.credit {
    display: none;
}
/* Sidebar content formatting */
#sidebar a, #sidebar .dropdown-button, #sidebar .logo {
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: var(--text);
    display: flex;
    align-items: center;
    gap: 1em;
}
/* Dropdown Style */
.dropdown-button {
    width: auto;
    text-align: left;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}
/* Put dropdown next to UTAU link */
#sidebar ul li.has-dropdown {
    display: flex;
    align-items: center;
    gap: 0em 1.5em;
    /* Move dropdown when collapsing */
    flex-wrap: wrap;
}
/* Full width dropdown contents */
#sidebar ul li.has-dropdown a span {
    flex: 1 1 auto;
}
#sidebar ul li.has-dropdown .sub-menu {
    width: 100%;
    flex-basis: 100%;
}
/* Colour button SVGs */
#sidebar svg {
    flex-shrink: 0;
    fill: var(--colour3)
}
/* Change colour on hover */
#sidebar a:hover, #sidebar .dropdown-button:hover {
    background-color: var(--colour1)
}
/* Hide dropdown contents by default */
#sidebar .sub-menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;

    > div {
        overflow: hidden;    
    }
}
/* Show dropdown contents */
#sidebar .sub-menu.show {
    grid-template-rows: 1fr;
}
/* Rotate dropdown SVG on click */
.dropdown-button svg {
    transition: 200ms ease;
}
.rotate svg:last-child {
    rotate: 180deg;
}
/* Indent dropdown contents */
#sidebar .sub-menu a {
    padding-left: 2.5em;
}
/* Toggle Style */
#toggle-button {
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;

    svg {
        transition: rotate 150ms ease;
    }
}
#toggle-button:hover {
    background-color: var(--colour1);
}

/* Toggle animation */
#sidebar.animate {
    transition: width 300ms ease-in-out;
}
/* ===== SIDEBAR END ===== */

/* Page Loader */
#preloader {
    background: var(--colour3) url(images/load.gif) no-repeat center;
    align-items: center;
    justify-content: center;
    background-size: 10%;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    position: fixed;
    z-index: 9999;
}

/* Mobile Styling */
@media(max-width: 800px) {
    body {
        grid-template-columns: 1fr;
    }
    main {
        padding: 2em 1em 60pc 1em;
    }
    main p {
        margin-left: 40px;
        margin-right: 40px;
    }
    .container {
        padding: min(1em, 15%);
    }
    /* ===== MOBILE SIDEBAR ===== */
    #sidebar {
        /* Moves sidebar to bottom */
        height: 60px;
        width: 100%;
        border-right: none;
        border-top: 2px solid var(--colour3);
        padding: 0;
        position: fixed;
        top: unset;
        bottom: 0;

        /* Align icons side-by-side */
        > ul {
            padding: 0;
            display: grid;
            grid-auto-columns: 60px;
            grid-auto-flow: column;
            align-items: center;
            overflow-x: scroll;
        }
        /* Align icons horizontally */
        ul li {
            height: 100%;
        }
        /* Makes boxes square and removes padding */
        ul a, ul .dropdown-button {
            width: 60px;
            height: 60px;
            padding: 0;
            border-radius: 0;
            justify-content: center;
        }

        /* Removes logo, text and credit (no idea where the dropdown goes i gave up looking)*/
        ul li span, ul li:first-child, ul li span.credit{
            display: none;
        }
    }
    /* ===== MOBILE SIDEBAR END ===== */
    #preloader {
        background-size: 25%;
    }
}